:root {
    --main-color: #fff;
    --secondary-color: #c0c0c0;
    --button-color: #167bf7;
    --background-color: #00030C;
    --main-font: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.container-box {
    margin: 6em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container-title {
    font-size: 28px;
    font-weight: 700;
}

.container-image {
    margin: 1em 0 2em 0;
}

.container-button {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

.container-subscription {
    color: #c0c0c0;
    font-size: 12px;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description-title {
    font-weight: 700;
    font-size: 48px;
    color: var(--main-color);
    margin-bottom: 0.1em;
}

.description-text {
    color: var(--secondary-color);
}

.container-description {
    padding: 2em;
}

.terciary-button {
    display: inline-block;
    margin-top: 1em;
}

.devices {
    text-align: center;
}

.devices-title {
    font-size: 3em;
    color: var(--main-color);
}

.devices-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.item-list {
    font-size: 32px;
    color: var(--main-color);
}

.footer {
    text-align: center;
    margin-top: 6em;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.link-list {
    list-style-type: none;
    margin: 3em 0em 0em 2em;
}

.link-list>a {
    font-size: 16px;
    color: var(--main-color);
    text-decoration: none;
}

.footer-text {
    color: var(--secondary-color);
    font-size: 17px;
    margin: 1em 2em;
    text-align: center;
}
