/* --- Screen Adaptation for Smartphones --- */

@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
    
    .main {
        background-image: none;
        display: flex;
        flex-direction: column;
    }

    .container-button {
        width: 50%;
        margin-left: 23%;
        font-size: 10px;
    }

    .container-subscription {
        font-size: 8px;
    }

    .description-title {
        font-size: 1em;
    }

    .description-text {
        font-size: 8px;
    }
    
    .devices-title {
        font-size: 1.5em;
    }

    .item-list {
        font-size: 1em;
    }

    .link-list>a {
        font-size: 8px;
    }

    .footer-logo {
        width: 15%;
    }

    .footer-text {
        font-size: 6px;
    }
}

@media screen and (max-width: 450px) {
    .container-title {
        font-size: 12px;
    }

    .container-subscription {
        font-size: 6px;
    }

    .description-text {
        font-size: 6px;
    }

    .devices-title {
        font-size: 14px;
    }

    .item-list {
        font-size: 8px;
    }
}

@media screen and (max-width: 350px) {
    body {
        font-size: 6px;
    }

    .container-button {
        font-size: 8px;
    }

    .container-title {
        font-size: 1em;
    }

    .container-subscription {
        font-size: 4px;
    }

    .description-text {
        font-size: 1em;
    }

    .devices-title {
        font-size: 2em;
    }

    .item-list {
        font-size: 1em;
    }

    .link-list>a {
        font-size: 5px;
    }

    .footer-text {
        font-size: 5px;
    }
}
