:root {
    --main-color: #fff;
    --secondary-color: #c0c0c0;
    --button-color: #167bf7;
    --background-color: #00030C;
    --main-font: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container-box {
    margin-top: 15%; 
}

.container-title {
    font-size: 28px;
    font-weight: 700;
}

.combo-image {
    margin: 4% 0;
    width: 60%;
}

.container-button {
    background-color: var(--button-color);
    border-radius: 8px;
    padding: 2%;
    color: var(--main-color);
    display: block;
    text-decoration: none;
    margin-bottom: 2%;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

.container-subscription {
    color: #c0c0c0;
    font-size: 14px;
}

.secondary {
    align-items: center;
    margin: 0 3%;
}

.container-description {
    padding: 2em;
    margin: 0 3%;
}

.description-title {
    font-weight: 700;
    font-size: 35px;
    color: var(--main-color);
    margin-bottom: 8px;
}

.description-text {
    color: var(--secondary-color);
}

.devices {
    text-align: center;
}

.devices-title {
    font-size: 48px;
    color: var(--main-color);
}

.devices-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.item-list {
    font-size: 32px;
    color: var(--main-color);
}

.footer {
    text-align: center;
    margin-top: 10%;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.link-list {
    list-style-type: none;
    margin: 4% 0 0 3%;
}

.link-list>a {
    font-size: 16px;
    color: var(--main-color);
    text-decoration: none;
}

.footer-text {
    color: var(--secondary-color);
    font-size: 16px;
    margin: 2% 3%;
    text-align: center;
}

@media screen and (max-width: 1024px) {

}
