:root {
    --main-color: #fff;
    --secondary-color: #c0c0c0;
    --button-color: #f7164e;
    --background-color: #00030C;
    --main-font: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container-box {
    margin: 15% 0 0 5%; 
}

.container-title {
    font-size: 1.5em;
    font-weight: 700;
}

.combo-image {
    margin: 4% 0;
    width: 60%;
}

.container-button {
    background-color: var(--button-color);
    border-radius: 8px;
    padding: 2%;
    color: var(--main-color);
    display: block;
    text-decoration: none;
    margin-bottom: 2%;
}

.container-button:hover {
    translate: 0% -15%;
}

.container-button:active {
    transform: scale(0.9);
    background-color: #62091c;
}

.container-subscription {
    color: #c0c0c0;
    font-size: 1em;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

.secondary-button:active {
    color: #00030C;
    background-color: #e1dede;
    font-weight: 700;
}

.secondary {
    align-items: center;
    margin: 0 1em;
}

.alura-platform {
    width: 65%;
    margin: 0 0 0 3em;
}

.alura-screens {
    width: 70%;
}

.notebook {
    width: 60%;
    margin: 0 0 0 2em;
}

.container-description {
    padding: 2em;
    margin: 0 3%;
}

.description-title {
    font-weight: 700;
    font-size: 2.3em;
    color: var(--main-color);
    margin-bottom: 8px;
}

.description-text {
    color: var(--secondary-color);
    font-size: 1.2em;
}

.devices {
    text-align: center;
    margin: 0 5em;
}

.devices-title {
    font-size: 4em;
    color: var(--main-color);
}

.devices-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 3em 0;
}

.item-list {
    font-size: 2em;
    color: var(--main-color);
}

.footer {
    text-align: center;
    margin-top: 4em;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.link-list {
    list-style-type: none;
    margin: 2em 1em 0 1em;
}

.link-list>a {
    font-size: 1em;
    color: var(--main-color);
    text-decoration: none;
}

.link-list>a:hover {
    color: var(--button-color);
}

.footer-text {
    color: var(--secondary-color);
    font-size: 1em;
    text-align: center;
    margin: 1em 5em;
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 14px;
    }

    .link-list>a {
        font-size: 1em;
    }

    .footer-text {
        font-size: 1em;
    }
}

@media screen and (max-width: 1200px) {
    .footer-list {
        display: grid;
        margin: 2em 0;
    }
    
    .link-list {
        margin: 5px 1em;
    }

    .link-list>a {
        font-size: 1em;
    }

    .link1-1 {
        grid-column: 1;
        grid-row: 1;
    }

    .link1-2 {
        grid-column: 1;
        grid-row: 2;
    }

    .link1-3 {
        grid-column: 1;
        grid-row: 3;
    }

    .link2-1 {
        grid-column: 3;
        grid-row: 1;
    }

    .link2-2 {
        grid-column: 3;
        grid-row: 2;
    }

    .link2-3 {
        grid-column: 3;
        grid-row: 3;
    }

    .link2-4 {
        grid-column: 2;
        grid-row: 5;
    }

    .devices-title {
        font-size: 3em;
    }

    .devices-list>li {
        width: 40%;
    }

}

@media screen and (max-width: 1034px) {
    .devices {
        margin: 0 10em;
    }
}

/*
@media screen and (max-width: 768px) {
    .link-list>a {
        font-size: 8px;
    }

} */
